{% extends 'base.html.twig' %}

{% block title %}WeatherCompass{% endblock %}

{% block body %}
    <main>
        <h2>Aujourd'hui en France</h2>
        <div class="weatherCard-container">
            {% include 'components/weatherCard.html.twig' with {
                city: 'Paris'
            } %}
        </div>
    </main>
{% endblock %}
