@import 'variables';

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

* {
    min-width: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Otomanopee One', sans-serif;
}

input[type="search"] {
    background-color: $white;
    margin: 0;
    padding: 0;

    border: 0;
}