@import 'variables';

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

* {
  min-width: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: $grup $grup02;
  gap: $grup03;

  @include min-width($minW03) {
    padding: $grup max($grup02, calc(50vw - ($minW05 / 2)));
  }

  font-family: 'Otomanopee One', sans-serif;
  color: $black;

  background: $white-02
  //background: url('../images/cloud-patern.svg') repeat;
}

// NAV

.nav {
  &-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    gap: $grup;

    @include min-width($minW03) {
      flex-wrap: nowrap;
    }
  }

  &-logo {
    order: 1;
    display: flex;
    align-items: center;

    min-width: unset;

    gap: $grup;

    color: $black;
    text-decoration: none;
    line-height: $grup;

    @include min-width($minW03) {
      order: unset;
    }

    img {
      min-height: $grup04;
      min-width: $grup04;

      @include min-width($minW01) {
        min-height: $grup06;
        min-width: $grup06;
      }
    }

    span {
      font-size: 0;

      min-width: unset;
      width: min-content;

      @include min-width($minW01) {
        font-size: $grup;
      }
    }
  }

  &-search {
    order: 3;
    width: 100%;

    @include min-width($minW03) {
      order: unset;
    }

    form {
      display: flex;
      flex-wrap: nowrap;

      & > div {
        width: 100%;

        #search_result {
          height: $grup06;
          width: 100%;

          margin: 0;
          padding: $grup-01 $grup $grup-01 $grup02;

          font-size: $grup01;
          color: $black-01;

          @include first-background-layer;
          border-radius: $grup06 0 0 $grup06;

          &:hover, &:focus, &:active {
            border: 1px solid $black-01;
            outline: none;
          }
        }
      }

      button {
        width: $grup06;
        height: $grup06;

        font-size: 0;

        border: 1px solid $black-01;
        background: url("../images/icons/maglass.svg") $black no-repeat 12px;
        background-size: $grup01;
        border-radius: 0 $grup06 $grup06 0;

        cursor: pointer;

        &:hover, &:focus, &:active, {
          background-color: $black-01;
        }
      }
    }
  }

  &-links {
    order: 2;
    display: flex;
    align-items: center;

    min-width: unset;

    gap: $grup;

    @include min-width($minW03) {
      order: unset;
    }

    a {
      svg {
        width: $grup03;
        height: $grup03;
      }
    }

  }
}

/// SAVED FOR LATER

//  box-shadow: rgba(30, 34, 28, 0.17) 0px -23px 25px 0px inset, rgba(30, 34, 28, 0.15) 0px -36px 30px 0px inset, rgba(30, 34, 28, 0.1) 0px -79px 40px 0px inset, rgba(30, 34, 28, 0.06) 0px 2px 1px, rgba(30, 34, 28, 0.09) 0px 4px 2px, rgba(30, 34, 28, 0.09) 0px 8px 4px, rgba(30, 34, 28, 0.09) 0px 16px 8px, rgba(30, 34, 28, 0.09) 0px 32px 16px;