@import 'variables';

/*
.mainCard {
  display: grid;
  grid-template-areas:
    "date date"
    "tl tr"
    "bl br";

  padding: $grup $grup02;
  gap: $grup03;

  border-radius: $grup-03;

  .statCard {
    display: flex;
    flex-direction: column;

    .stat {
      font-size: $grup01;
      font-weight: 700;
      line-height: $grup01;

      &-title {
        font-size: $grup-01;
        color: $black-01;
        line-height: $grup-01;
      }
    }
  }

  .date-container {
    grid-area: date;

    display: flex;
    flex-direction: column;

    .when {
      font-size: $grup02;
      font-weight: 700;
      line-height: $grup02;
    }

    .date {
      font-size: $grup01;
      line-height: $grup01;
    }
  }

  .weather {
    &-tl {
      grid-area: tl;

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 80%;
        width: 80%;
        object-fit: contain;
      }
    }

    &-tr {
      grid-area: tr;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .weather {
        display: flex;
        flex-direction: column;

        h2 {
          font-size: $grup01;
          font-weight: 400;
          margin-bottom: $grup02;
        }

        &-text {
          font-size: $grup03;
          line-height: $grup03;
        }

        &-temp {
          font-size: $grup05;
          font-weight: 500;
          line-height: $grup05;
        }
      }
    }

    &-bl {
      grid-area: bl;

      display: grid;
      grid-template-columns: min-content 1fr 1fr;
      align-items: center;
      align-content: center;

      gap: $grup01;

      img {
        height: $grup06;
        width: $grup06;
        object-fit: contain;
      }
    }

    &-br {
      grid-area: br;

      display: flex;
      flex-direction: column;

      gap: $grup03;

      img {
        height: $grup06;
        width: $grup06;
        object-fit: contain;
      }

      .temp {
        &-feels {
          display: flex;
          flex-direction: column;

          .temp {
            &-text {
              font-size: $grup01;
              line-height: $grup01;
            }

            &-stat {
              font-size: $grup04;
              line-height: $grup04;
            }
          }
        }

        &-wrapper {
          grid-column: span 3;

          display: grid;
          grid-template-columns: 1fr 1fr;

          gap: $grup01;

          .tempCard {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            column-gap: $grup-01;

            width: fit-content;

            .temp {
              font-size: $grup01;
              font-weight: 700;
              line-height: $grup01;

              &-title {
                font-size: $grup-01;
                color: $black-01;
                line-height: $grup-01;
              }
            }


            img {
              grid-row: span 2;

              height: $grup06;
              width: $grup06;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}
*/
