@import 'variables';

.mainCard {
    padding: $grup $grup02;

    border-radius: $grup-03;
    background-color: $white;

    &-bottom {
        display: flex;
        justify-content: space-between;
        gap: $grup05;

        margin-top: $grup05;
    }

    .date {
        margin-bottom: $grup02;
        &-container {
            display: flex;
            flex-direction: column;

            .when {
                margin-bottom: $grup-03;

                font-size: $grup02;
                line-height: $grup02;
            }
        }
    }

    .weather {
        display: flex;
        flex-direction: column;

        min-width: fit-content;
        width: fit-content;

        &-container {
            display: flex;
            align-items: center;
            gap: $grup03;

            max-height: fit-content;

            & img {
                width: $grup09;
            }
        }

        & > h2 {
            margin-bottom: $grup-01;

            font-size: $grup;
            font-weight: 400;
        }

        &-text {
            font-size: $grup02;
            line-height: $grup02;
        }

        &-temp {
            margin-top: $grup-03;

            font-size: $grup04;
            font-weight: 500;
            line-height: $grup04;
        }
    }

    .stats {
        font-size: $grup02;

        &-container {
            display: grid;
            grid-template-columns: 1fr repeat(2, auto);
            align-items: center;
            gap: $grup-01;

            .statCard {
                display: flex;
                flex-direction: column;

                &:nth-child(n) {
                    margin-right: $grup-01;
                }

                .stat {
                    font-size: $grup01;
                    font-weight: 700;
                    line-height: $grup01;

                    &-title {
                        font-size: $grup-01;
                        color: $black-01;
                        line-height: $grup-01;
                    }
                }
            }

            & > img {
                height: $grup04;
            }
        }
    }

    .temp {
        font-size: $grup02;

        &-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: $grup02;

            .tempCard {
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                column-gap: $grup-01;

                width: fit-content;

                & > img {
                    grid-row: span 2;
                    height: $grup04;
                }
            }

            .uvCard {
                display: flex;
                flex-direction: column;
            }
        }

        &-wrapper {
            display: flex;
            align-items: center;
            gap: $grup02;
        }

        &-title {
            font-size: $grup-01;
            color: $black-01;
            line-height: $grup-01;
        }

        &-feels {
            display: flex;
            flex-direction: column;

            margin-top: $grup-04;

            .temp-text {
                font-size: $grup;
                line-height: $grup;
            }

            .temp-stat {
                font-size: $grup03;
                line-height: $grup03;
            }
        }
    }
}