@import url('https://fonts.cdnfonts.com/css/otomanopee-one');

// Variables
$grup-04: 2px;
$grup-03: 4px;
$grup-02: 8px;
$grup-01: 12px;
$grup: 16px;
$grup01: 20px;
$grup02: 24px;
$grup03: 32px;
$grup04: 40px;
$grup05: 48px;
$grup06: 56px;
$grup07: 64px;
$grup08: 96px;
$grup09: 128px;
$grup10: 256px;

$minW01: 480px;
$minW02: 768px;
$minW03: 992px;
$minW04: 1200px;
$minW05: 1600px;
$minW06: 1856px;

$letterSpc: 0.24px;

$trans01: 0.1s;
$trans02: 0.2s;

$white: #FFF;
$black: #000;
$black-01: #444;