@import 'variables';


.weatherDashboard {
  display: grid;
  grid-template-columns: 1fr;
  
  @include min-width($minW03) {
    grid-template-columns: 1.26fr 1fr;
  }

  padding: $grup02;
  gap: $grup05;

  @include first-background-layer;
  border-radius: $grup01;

  .weatherTowns {
    h2 {
      margin-bottom: $grup;
    }

    .swiper {
      overflow: hidden;

      &-wrapper {
        display: flex;
      }

      &-slide {

      }
    }
  }
}