@import url("https://fonts.cdnfonts.com/css/otomanopee-one");
:root {
  --color-white: rgb(255, 255, 255);
  --color-white-01: rgb(255, 251, 244);
  --color-white-02: rgb(248, 242, 228);
  --color-white-03: rgb(238, 229, 215);
  --color-black: rgb(71, 59, 47);
  --color-black-01: rgb(103, 88, 71);
  --color-blue: rgb(114, 177, 251);
  --color-orange: rgb(255, 168, 37);
  --color-red: rgb(255, 53, 53);
}

.mainCard {
  display: grid;
  grid-template-areas: "date date" "tl tr" "bl br";
  padding: 16px 24px;
  gap: 32px;
  border-radius: 4px;
}
.mainCard .statCard {
  display: flex;
  flex-direction: column;
}
.mainCard .statCard .stat {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.mainCard .statCard .stat-title {
  font-size: 12px;
  color: var(--color-black-01);
  line-height: 12px;
}
.mainCard .date-container {
  grid-area: date;
  display: flex;
  flex-direction: column;
}
.mainCard .date-container .when {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.mainCard .date-container .date {
  font-size: 20px;
  line-height: 20px;
}
.mainCard .weather-tl {
  grid-area: tl;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainCard .weather-tl svg {
  height: 80%;
  width: 80%;
  object-fit: contain;
}
.mainCard .weather-tr {
  grid-area: tr;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainCard .weather-tr .weather {
  display: flex;
  flex-direction: column;
}
.mainCard .weather-tr .weather h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
}
.mainCard .weather-tr .weather-text {
  font-size: 32px;
  line-height: 32px;
}
.mainCard .weather-tr .weather-temp {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}
.mainCard .weather-bl {
  grid-area: bl;
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.mainCard .weather-bl img {
  height: 56px;
  width: 56px;
  object-fit: contain;
}
.mainCard .weather-br {
  grid-area: br;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mainCard .weather-br img {
  height: 56px;
  width: 56px;
  object-fit: contain;
}
.mainCard .weather-br .temp-feels {
  display: flex;
  flex-direction: column;
}
.mainCard .weather-br .temp-feels .temp-text {
  font-size: 20px;
  line-height: 20px;
}
.mainCard .weather-br .temp-feels .temp-stat {
  font-size: 40px;
  line-height: 40px;
}
.mainCard .weather-br .temp-wrapper {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.mainCard .weather-br .temp-wrapper .tempCard {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 12px;
  width: fit-content;
}
.mainCard .weather-br .temp-wrapper .tempCard .temp {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.mainCard .weather-br .temp-wrapper .tempCard .temp-title {
  font-size: 12px;
  color: var(--color-black-01);
  line-height: 12px;
}
.mainCard .weather-br .temp-wrapper .tempCard img {
  grid-row: span 2;
  height: 56px;
  width: 56px;
  object-fit: contain;
}

/*# sourceMappingURL=mainCard.css.map */
